<div id="container">
	<h4>Client Info:</h4>

	<h4><%= @client.name %></h4>
	<h4><%= @client.address_line1 %></h4>	
	<% if @client.address_line2 %>
		<h4><%= @client.address_line2 %></h4>
	<% end %>
	<h4><%= @client.city %>, <%= @client.state %> <%= @client.zip %></h4>

	<h4>Outstanding Invoices</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Invoice Number</th>
				<th>Company Name</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Send Date</th>
				<th>Due By Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @out.each do |out| %>
				<tr>
					<td><%= out.id %></td>
					<td><%= out.company.name %></td>
					<td><%= out.description %></td>
					<td>$<%= out.amount %></td>
					<td><%= out.sendDate%></td>
					<td><%= out.due_by%></td>
					<td>
						<form action="/charges/new">
							<input type="hidden" name="invoice_id" value="<%= out.id %>">
							<input type="hidden" name="invoice_amt" value="<%= out.amount %>">
							<button type="submit">Pay by Stripe</button>
						</form>
						<button>Pay by Check</button>
						<button>View Invoice</button>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<h4>Paid Invoices</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Invoice Number</th>
				<th>Company Name</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Paid Date</th>
				<th>Action</th>

			</tr>
		</thead>
		<tbody>
			<% @paid.each do |paid| %>
				<tr>
					<td><%= out.id %></td>
					<td><%= paid.company.name %></td>
					<td><%= paid.description %></td>
					<td>$<%= paid.amount %></td>
					<td><%= paid.paid_date %></td>
					<td>
						<button><a href="">View Invoice</a></button>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

