<h1>Client Info: <%= @client.name %></h1>

	<h4>Mailing Address:</h4>
	<address>
		<%= @client.name %><br />
		<%= @client.address_line1 %><br />	
		<% if @client.address_line2 %>
			<%= @client.address_line2 %><br />
		<% end %>
		<%= @client.city %>, <%= @client.state %> <%= @client.zip %>
	</address>

	<h3>Outstanding Invoices</h3>
	<% if @out == [] %>
		<h4>You currently have no outstanding invoices</h4>
	<% else %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Company Name</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Send Date</th>
				<th>Due By Date</th>
				<th>Pay</th>
			</tr>
		</thead>
		<tbody>
			<% @out.each do |out| %>
				<tr>
					<td><%= out.company.name %></td>
					<td><%= out.description %></td>
					<td>$<%= out.amount %></td>
					<td><%= out.sendDate%></td>
					<td><%= out.due_by%></td>
					<td>
						<button>By Stripe</button>
						<button>By Check</button>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>

	<h3>Paid Invoices</h3>
	<% if @paid == [] %>
		<h3>You currently have no paid invoices</h3>
	<% else %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Company Name</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Paid Date</th>

			</tr>
		</thead>
		<tbody>
			<% @paid.each do |paid| %>
				<tr>
					<td><%= paid.company.name %></td>
					<td><%= paid.description %></td>
					<td>$<%= paid.amount %></td>
					<td><%= paid.paid_date %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>
