<% if session[:company_id] %>
	<ol class="breadcrumb">
		<li><a href="/companies">Company Dashboard</a></li>
		<li class="active">Client Info</li>
	</ol>
<% elsif session[:client_id] %>
		<ol class="breadcrumb">
		<li class="active">Client Dashboard</li>
	</ol>
<% end %>

<h1 class="text-center">
	<% if session[:company_id] %>
		Client Info: 
	<% elsif session[:client_id] %>
		Welcome 
	<% end %>

	<%= @client.name %></h1>

	<h4>Mailing Address:</h4>
	<address>
		<%= @client.name %><br />
		<%= @client.address_line1 %><br />	
		<% if @client.address_line2 %>
			<%= @client.address_line2 %><br />
		<% end %>
		<%= @client.city %>, <%= @client.state %> <%= @client.zip %>
	</address>

	<% if session[:company_id] %>
		<h3>Outstanding Invoices</h3>
	<% else %>
		<h3>Outstanding Invoices for <%= @client.company.name %></h3>
	<% end %>
	<% if @out == [] %>
		<h4>You currently have no outstanding invoices</h4>
	<% else %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Invoice #</th>
				<th>Send Date</th>
				<th>Due Date</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Payment Method</th>
			</tr>
		</thead>
		<tbody>
		<% if  %>
			<% @out.each do |out| %>
				<tr>
					<td><a href="/clients/invoices/<%= out.id %>"><%= out.id %> <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> </a></td>
					<td><%= out.sendDate%></td>
					<td><%= out.due_by%></td>
					<td><%= out.description %></td>
					<td>$<%= out.amount %></td>
					<td class="text-right">
						<form action="/charges/new" style="display: inline-block">
							<input type="hidden" name="invoice_id" value="<%= out.id %>">
							<input type="hidden" name="invoice_amt" value="<%= out.amount %>">
							<button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Credit Card</button>
						</form>
						<a class="btn btn-info btn-sm"

						<% if session[:client_id] %>
						  onclick="alert('Please print out your invoice and mail it to us with your check payment.');" 
						  <% @folder_root = '/clients' %>
						<% elsif session[:company_id] %>
						  onclick="alert('Testing');"
						  <% @folder_root = '/companies' %> 
						<% end %> href="<%= @folder_root %>/invoices/<%=out.id %>" ><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Check</a>
					</td>
				</tr>
			<% end %>
		<% end %>
		</tbody>
	</table>
	<% end %>

	<% if session[:company_id] %>
		<h3>Paid Invoices</h3>
	<% else %>
		<h3>Paid Invoices for <%= @client.company.name %></h3>
	<% end %>
	<% if @paid == [] %>
		<h4>You currently have no paid invoices</h3>
	<% else %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Invoice #</th>
				<th>Paid Date</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Paid By</th>

			</tr>
		</thead>
		<tbody>
			<% @paid.each do |paid| %>
				<tr>
					<td><a href="/clients/invoices/<%= paid.id %>"><%= paid.id %> <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> </a></td>
					<td><%= paid.paid_date %></td>
					<td><%= paid.description %></td>
					<td>$<%= paid.amount %></td>
					<td>
						<% if paid.check_payment %>
							<span class="label label-info">Check #:</span> <%= paid.check_payment %>
						<% elsif paid.stripe_payment %>
							<span class="label label-info">Stripe ID:</span> <%= paid.stripe_payment %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>
