<% if session[:company_id] %>
	<ol class="breadcrumb">
		<li><a href="/companies">Company Dashboard</a></li>
		<li class="active">Client Info</li>
	</ol>
<% end %>


<h1>
	<% if session[:company_id] %>
		Client Info: 
	<% elsif session[:client_id] %>
		Welcome 
	<% end %>

	<%= @client.name %></h1>

	<h4>Mailing Address:</h4>
	<address>
		<%= @client.name %><br />
		<%= @client.address_line1 %><br />	
		<% if @client.address_line2 %>
			<%= @client.address_line2 %><br />
		<% end %>
		<%= @client.city %>, <%= @client.state %> <%= @client.zip %>
	</address>

	<h3>Outstanding Invoices</h3>
	<% if @out == [] %>
		<h4>You currently have no outstanding invoices</h4>
	<% else %>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Invoice Number</th>
				<th>Company Name</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Send Date</th>
				<th>Due By Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @out.each do |out| %>
				<tr>
					<td><%= out.id %></td>
					<td><%= out.company.name %></td>
					<td><%= out.description %></td>
					<td>$<%= out.amount %></td>
					<td><%= out.sendDate%></td>
					<td><%= out.due_by%></td>
					<td>
						<form action="/charges/new">
							<input type="hidden" name="invoice_id" value="<%= out.id %>">
							<input type="hidden" name="invoice_amt" value="<%= out.amount %>">
							<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>Pay by Stripe</button>
						</form>
						<button class="btn btn-info"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> By Check</button>
						<button class="btn btn-info"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> View Invoice</button>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>

	<h3>Paid Invoices</h3>
	<% if @paid == [] %>
		<h4>You currently have no paid invoices</h3>
	<% else %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Invoice Number</th>
				<th>Company Name</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Paid Date</th>
				<th>Action</th>

			</tr>
		</thead>
		<tbody>
			<% @paid.each do |paid| %>
				<tr>
					<td><%= paid.id %></td>
					<td><%= paid.company.name %></td>
					<td><%= paid.description %></td>
					<td>$<%= paid.amount %></td>
					<td><%= paid.paid_date %></td>
					<td>
						<button><a href="">View Invoice</a></button>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>
