<!-- Modal for "Delete New Invoice" -->
<div class="modal fade" id="deleteInvoiceModal<%= client.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Delete Client <%= client.name %></h4>
		    </div>
		   
		    <div class="modal-body">
		    <!-- Error check -->
		    <div class="has-error">
			<% if flash[:errors] %>
				<p class="bg-danger text-center" style="padding:1em; margin-bottom: 0; font-weight: bold">
			        <% flash[:errors].each do |e| %>
			          <%= e %> <br />
			        <% end %>
			    </p>
		    <% end %>
		    </div>
		    <!-- Delete Client -->
	    		<%= token_tag nil %>
	    		<input type="hidden" name="invoice[client_id]" value="<%=client.id %>">
	    		<input type="hidden" name="invoice[company_id]" value="<%=session[:company_id] %>">
	    		
<div class="alert alert-danger text-center">
  <strong><span class="glyphicon glyphicon-alert" aria-hidden="true">Warning!</strong> Deleting this will delete the client and all associated invoices.<br />
  Do you really want to do this?<br />
  This CANNOT be undone! 
</div>

			<div class="modal-footer">

			    	
		    	<form action="/companies/clients/<%= client.id %>" method="post" style="display: inline-block">
				    	<%= token_tag nil %>
						<input type="hidden" name="_method" value="delete">
				    	<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Yes</button>
			    </form>
			    <button type="submit" class="btn btn-default"> No (Cancel) <span aria-hidden="true"></span></button>
		    </div>
		</div>
    </div>
</div><!-- Modal End -->