<!-- Modal for "Delete New Invoice" -->
<div class="modal fade" id="deleteInvoiceModal<%= client.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Delete Client <%= client.name %></h4>
		    </div>
		   
		    <div class="modal-body">
		    <!-- Error check -->
		    <div class="has-error">
			<% if flash[:errors] %>
				<p class="bg-danger text-center" style="padding:1em; margin-bottom: 0; font-weight: bold">
			        <% flash[:errors].each do |e| %>
			          <%= e %> <br />
			        <% end %>
			    </p>
		    <% end %>
		    </div>
		    <!-- Delete Client -->
	    		<%= token_tag nil %>
	    		<input type="hidden" name="invoice[client_id]" value="<%=client.id %>">
	    		<input type="hidden" name="invoice[company_id]" value="<%=session[:company_id] %>">
	    		
<div class="alert alert-danger">
  <strong>Warning!</strong> Deleting this will delete all invoices associated 
</div>

				<div class="modal-footer">
		    <a href="">
			    	<%= token_tag nil %>
			    	<button type="submit" class="btn btn-warning center-block"> Cancel <span aria-hidden="true"></span></button></a>
	    	<form action="/companies/clients/<%= client.id %>" method="post">
			    	<%= token_tag nil %>
					<input type="hidden" name="_method" value="delete">
			    	<button type="submit" class="btn btn-danger center-block"> Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			    </div>
		    </form>
		</div>
    </div>
</div><!-- Modal End -->