<h2>Outstanding Invoices</h2>
<% if @unpaidvoices == [] %>
	<h4>You currently have no outstanding invoices.</h4>
<% else %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Client Name</th>
			<th>Send Date</th>
			<th>Due Date</th>
			<th>Amount Due</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<% @unpaidvoices.each do |unpaid| %></td>
			<td><%= unpaid.client.name %></td>
			<td><%= unpaid.sendDate %></td>
			<td><%= unpaid.due_by %></td>
			<td>$<%= unpaid.amount %></td>
			<td><%= unpaid.description %></td>
			<td class="text-right">
				<button class="btn btn-success btn-sm" data-toggle="check_modal<%= unpaid.id %>" data-target="#addCheck<%= unpaid.id %>"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong>&#36;</strong> Record Check
				</button>
				<button class="btn btn-primary btn-sm" data-toggle="edit_modal<%= unpaid.id %>" data-target="#Invoice<%= unpaid.id %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Invoice
				</button>
				<button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Invoice
				</button>
			</td>
		</tr>
	</tbody>
	<% end %>
<% end %>
</table>