<h2>Paid Invoices</h2>
<% if @paidvoices == [] %>
	<h4>You currently have no paid Invoices.</h4>
<% else %>
<table class="table table-hover">

	<thead>
		<tr>
			<th>ID</th>
			<th>Status</th>
			<th>Client Name</th>
			<th>Date Paid</th>
			<th>Amount Paid</th>
			<th>Payment Method</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @paidvoices.each do |paid| %>
		<tr>
			<td><a href="companies/invoices/<%= paid.id %>"><%= paid.id %> <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a></td>
			<td>
				<% if paid.paid_date < paid.due_by %>
					<strong class="text-success">Paid On Time</strong>
				<% elsif paid.paid_date > paid.due_by %>
					<strong class="text-warning">Paid Late</strong>
				<% end %>
			</td>
			<td><%= paid.client.name %></td>
			<td><%= paid.paid_date %></td>
			<td>$<%= paid.amount %></td>

			<td>
				<% if paid.check_payment %>
					<span class="text-success">Check #:</span> <%= paid.check_payment %>
				<% elsif paid.stripe_payment %>
					<span class="text-success">Stripe ID:</span> <%= paid.stripe_payment %>
				<% end %>
			</td>
			<td class="text-right">
				<button class="btn btn-primary btn-sm" data-toggle="edit_modal<%= paid.id %>" data-target="#Invoice<%= paid.id %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Invoice
				</button>
				<button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Invoice
				</button>
			</td>
		</tr>
		<% end %>
	</tbody>
<% end %>
</table>