<h1>Listing of all clients</h1>
<% if @clients == [] %>
	<h3>You currently have no clients.</h3>
<% else %>
<table class="table">
	<thead>
		<tr>
			<td>Name</td>
			<td>Email</td>
			<td>Address</td>
			<td>APT/STE</td>
			<td>City</td>
			<td>State</td>
			<td>Zip Code</td>
			<td>Phone Number</td>
			<td>Email</td>
			<td>Action</td>
		</tr>
	</thead>

	<tbody>
	<% @clients.each do |client| %>
		<tr>
			<td><%= client.name %></td>
			<td><%= client.email %></td>
			<td><%= render 'modal', :client => client %></td>
			<td><%= client.address_line2 %></td>
			<td><%= client.city %></td>
			<td><%= client.state %></td>
			<td><%= client.zip %></td>
			<td><%= client.phone %></td>
			<td><%= client.email %></td>
			<td><button class="addNewinvoice btn btn-success pull-right btn-sm" data-toggle="modal" data-target="#addModal" type="button">Send New Invoice
				</button>
				<%= render partial: "dashboard_addinvoice", locals: { client: client } %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<% end %>
