<h2>Paid Invoices</h2>
<% if @paidvoices == [] %>
	<h4>You currently have no paid Invoices.</h4>
<% else %>
<table class="table table-striped table-hover">

	<thead>
		<tr>
			<td>Client Name</td>
			<td>Amount Paid</td>
			<td>Stripe Payment ID</td>
			<td>Check #</td>
			<td>Date Paid</td>
		</tr>
	</thead>
	<tbody>
		<% @paidvoices.each do |paid| %>
		<tr>
			<td><%= paid.client.name %></td>
			<td>$<%= paid.amount %></td>
			<td><%= paid.stripe_payment %></td>
			<td><%= paid.check_payment %></td>
			<td><%= paid.paid_date %></td>
		</tr>
		<% end %>
	</tbody>
<% end %>
</table>