<h2>Outstanding Invoices</h2>
<% if @unpaidvoices == [] %>
	<h4>You currently have no outstanding invoices.</h4>
<% else %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Status</th>
			<th>Client Name</th>
			<th>Send Date</th>
			<th>Due Date</th>
			<th>Amount Due</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<% @unpaidvoices.each do |unpaid| %></td>
			<td><a href="companies/invoices/<%= unpaid.id %>"><%= unpaid.id %> <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a></td>
			<td>
				<% if Date.today < unpaid.sendDate %>
					<strong class="text-muted">Not Sent</strong>
				<% elsif Date.today < unpaid.due_by %>
					<strong class="text-success">Current</strong>
				<% elsif Date.today > unpaid.due_by %>
					<strong class="text-danger">Overdue</strong>
				<% elsif Date.today == unpaid.due_by %>
					<strong class="text-warning">Due Today</strong>
				<% end %>
			</td>
			<td><%= unpaid.client.name %></td>
			<td><%= unpaid.sendDate.to_formatted_s(:mo_day_year) %></td>
			<td><%= unpaid.due_by.to_formatted_s(:mo_day_year) %></td>
			<td><%= number_to_currency(unpaid.amount) %></td>
			<td class="text-right">
				<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addCheck<%= unpaid.id %>"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong>&#36;</strong> Record Check</button>

				<form action="/invoices/<%= unpaid.id %>/edit" method="post" style="display: inline-block">
				<%= token_tag nil %>
				<button class="btn btn-primary btn-sm" data-toggle="edit_modal<%= unpaid.id %>" data-target="#Invoice<%= unpaid.id %>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Invoice</button>
				</form>

				<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteUnpaidInvoice<%= unpaid.id %>"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Invoice</button>

				<%= render partial: "dashboard_deleteUnpaidInvoice", locals: { unpaid: unpaid } %>
				<%= render partial: "dashboard_addCheck", locals: { unpaid: unpaid } %>
			</td>
		</tr>
	</tbody>
	<% end %>
<% end %>
</table>