<h1>Listing of all clients</h1>
<% if @clients == [] %>
	<h3>You currently have no clients.</h3>
<% else %>
<table class="table">
	<thead>
		<tr>
			<td>Name</td>
			<td>Email</td>
			<td>Address</td>
			<td>APT/STE</td>
			<td>City</td>
			<td>State</td>
			<td>Zip Code</td>
			<td>Phone Number</td>
		</tr>
	</thead>
	<tbody>
		<tr>
	<% @clients.each do |client| %>
			<td><%= client.name %></td>
			<td><%= client.email %></td>
			<td><%= render 'modal', :client => client %></td>
			<td><%= client.address_line2 %></td>
			<td><%= client.city %></td>
			<td><%= client.state %></td>
			<td><%= client.zip %></td>
			<td><%= client.phone %></td>
		</tr>

	<% end %>
	</tbody>
</table>
<% end %>
