<h1>Listing of all clients</h1>
<table class="table">
	<thead>
		<tr>
			<td>Name</td>
			<td>Address</td>
			<td>APT/STE</td>
			<td>City</td>
			<td>State</td>
			<td>Zip Code</td>
			<td>Phone Number</td>
			<td>Email</td>
		</tr>
	</thead>
	<tbody>
		<% if @clients %>
			<% @clients.each do |client| %></td>
		<tr>
			<td><%= client.name %></td>
			<td><%= client.address_line1 %></td>
			<td><%= client.address_line2 %></td>
			<td><%= client.city %></td>
			<td><%= client.state %></td>
			<td><%= client.zip %></td>
			<td><%= client.phone %></td>
			<td><%= client.email %></td>
		</tr>
	</tbody>
	<% end %>
<% end %>
</table>

<h1>Listing of all Outstanding Invoices</h1>
<table class="table">
	<thead>
		<tr>
			<td>Client Name</td>
			<td>Amount Due</td>
		</tr>
	</thead>
	<tbody>
		<% if @unpaidvoices %>
			<% @unpaidvoices.each do |unpaid| %></td>
		<tr>
			<td><%= unpaid.client.name %></td>
			<td><%= unpaid.amount %></td>
		</tr>
	</tbody>
	<% end %>
<% end %>
</table>

<h1>Listing of all Paid Invoices</h1>
<table class="table">
	<thead>
		<tr>
			<td>Client Name</td>
			<td>Amount Paid</td>
			<td>Date Paid</td>
		</tr>
	</thead>
	<tbody>
		<% if @paidvoices %>
			<% @paidvoices.each do |paid| %></td>
		<tr>
			<td><%= paid.client.name %></td>
			<td><%= paid.amount %></td>
			<td><%= paid.paid_date %></td>
		</tr>
	</tbody>
	<% end %>
<% end %>
</table>