<div class="text-center">
	<h1> <span style="color:#73C5E8"><%= @company.name %></span> Reports</h1>
</div>


<div class="text-center">
	<h4>Quarterly: 
	<a href="/companies/reports" class="btn btn-sm btn-danger">Yearly</a> 
	<a href="/companies/reports/2nd" class="btn btn-sm btn-warning">2nd</a> 
	<a href="/companies/reports/3rd" class="btn btn-sm btn-warning">3rd</a> 
	<a href="/companies/reports/4th" class="btn btn-sm btn-warning">4th</a> 
	</h4>
</div>


<div class="text-center">
	<h3>Total Paid Invoice for 2016: <span style="color:#1AC262"><%= @total %></span></h3>
	<h3>1st Quarter for 2016: <span style="color:#D5D412"><%= @total1 %></span></h3>
</div>

<% if @invoices == [] %>
	<h3>You currently have no paid Invoices.</h3>
<% else %>

<table class="table table-striped">

	<thead>
		<tr>
			<td>Client Name</td>
			<td>Amount Paid</td>
			<td>Stripe Payment ID</td>
			<td>Check #</td>
			<td>Date Paid</td>
		</tr>
	</thead>
	<tbody>
		<% @invoices.each do |paid| %>
		<tr>
			<td><%= paid.client.name %></td>
			<td>$<%= paid.amount %></td>
			<td><%= paid.stripe_payment %></td>
			<td><%= paid.check_payment %></td>
			<td><%= paid.paid_date %></td>
		</tr>
		<% end %>
	</tbody>
<% end %>
</table>
